@import "../../utils/_vars";

.input {
  width: 100%;

  &__field {
    @extend %field-style;
    height: 25px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #f7f7f7;

    &::placeholder {
      @extend %placeholder;
    }
  }
}
